@model ConnOutlineMessenger.BuisnessLogic.Models.CurrentChatModel

@{
    Layout = "ChatLayout";
    ViewData["Title"] = "Chat";
}
<link rel="stylesheet" href="~/css/chat/chatelements.css">
<link rel="stylesheet" href="~/css/chat/scrollbar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="text-center">
    <div id="image-feald" chat-id="@Model.ChatId">
        <img src="~/images/group-icon.png">
        <h2>@Model.ChatName</h2>
    </div>
    <div id="chat-feald">
        @if (Model.Messages == null || Model.Messages.Count == 0)
        {
            <div id="chats-item">
                <h4 align="center">Тут начинается чат</h4>
            </div>
        }
        else
        {
            @foreach (var message in Model.Messages)
            {
                <div id="message">
                    <div id="message-sender">
                        @if (message.Sender.UserIcon != null)
                        {
                            <img src="@message.Sender.UserIcon.Link">
                        }
                        else
                        {
                            <img src="~/images/user-icon.png">
                        }
                        <h5>@message.Sender.UserName</h5>
                        <sub>@message.SendTime</sub>
                        <button id="@message.Id" class="delete-button">delete</button>
                    </div>
                    <div id="message-content">
                        <p>@message.MessageText</p>
                        @if (message.MessageImg != null)
                        {
                            <img src="@message.MessageImg">
                        }
                    </div>
                </div>
            }
        }
    </div>
    <div id="input-feald">
        <div class="input-group mb-3">
            <input type="text" id="getMessage" class="form-input" placeholder="Text">
            <input type="button" class="conn-btn conn-bg-red" id="sendBtn" value="send">
        </div>
    </div>
</div>

<script src="~/js/chat.js" asp-append-version="true" type="text/javascript"></script>
